.foodTypeList
   list-style: none
   padding: 0
   display: flex
   //flex-wrap: wrap
   overflow-x: auto
   gap: 0.5rem
   user-select: none
   padding-bottom: 0.5rem

.foodType
   flex-shrink: 0
   border-radius: 0.5rem
   background-color: #2d405c
   border: 1px solid #fff3
   //border: 1px solid #ccc
   cursor: pointer
   padding: 0.5rem
   display: grid
   grid-template-areas: "icon name" "icon description"
   & .name, .description, .icon
      margin: 0
   & .name
      grid-area: name
   & .description
      grid-area: description
   & .icon
      grid-area: icon
      font-size: 2rem
      margin-right: 0.5rem
   &.selected
      background-color: #ac8
      color: #222
