@use 'media' as m

$bg-colour: #222
$fg-colour: #ddd

*
  box-sizing: border-box

html
   background-color: $bg-colour
   color: $fg-colour

body
   @include m.notLandscape
      margin: 2rem 12rem 4rem
